

/*.footer-concluidos > .container-botoes {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 20px;
}

/*
<>
{!aberto && cards.map((objeto) => (
    <PerguntaFechada data-test="flashcard">
        <p data-test="flashcard-text" >Pergunta {objeto.number}</p>
        <img data-test="play-b" onClick={Jogar} src="../img/seta_play.png" />
    </PerguntaFechada>))
}
{!virado && aberto && cards.map((objeto) => (
    <PerguntaAberta data-test="flashcard">
        {objeto.question}
        <img data-test="turn-btn" onClick={Virar} src="../img/seta_virar.png" />
    </PerguntaAberta>))
}
{virado && cards.map((objeto) => (
    <PerguntaAberta data-test="flashcard">
        {objeto.answer}
        <ConteinerBotão>
            <button onClick={Respondeu} >Não lembrei</button>
            <button onClick={Respondeu} >Quase não lembrei</button>
            <button onClick={Respondeu}>Zap!</button>
        </ConteinerBotão>
    </PerguntaAberta>))}
</>
*/